packages/AForge.Math.2.2.5/lib/AForge.Math.xml
packages/AForge.Math.2.2.5/lib/AForge.Math.dll
packages/AForge.Math.2.2.5/AForge.Math.2.2.5.nupkg
packages/AForge.Imaging.2.2.5/lib/AForge.Imaging.xml
packages/AForge.Imaging.2.2.5/lib/AForge.Imaging.dll
packages/AForge.Imaging.2.2.5/AForge.Imaging.2.2.5.nupkg
packages/AForge.2.2.5/lib/AForge.xml
packages/AForge.2.2.5/lib/AForge.dll
packages/AForge.2.2.5/AForge.2.2.5.nupkg
.vs/Catchemall/v15/Server/sqlite3/storage.ide-shm
.vs/Catchemall/v15/Server/sqlite3/storage.ide
.vs/Catchemall/v15/Server/sqlite3/db.lock
.vs/Catchemall/v15/Server/sqlite3/storage.ide-wal
